<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Bulletin Board</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<div class="mx-2 my-2">
    <table class="table table-hover">
        <colgroup>
            <col style="width: 10%;"/>
            <col style="width: 70%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
        </colgroup>
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글 제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="board : ${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- FOOTER
<div th:insert="common/footer.html" id="footer"></div>
-->

</body>
</html>